version: 2
shared: &run_steps
  steps:
    - checkout
    # wait on postgres sql to start
    - run:
        command: while ! nc -z localhost 5432; do echo "postgres not ready"; sleep 0.1; done
        timeout: 5

    # postgres
    - run: sudo apt-get update
    - run: sudo apt install postgresql-client
    - run: psql ws_test ws_user -h localhost -p 5432 -f /go/src/github.com/homelight/worksheets/schema.sql

    # golang
    - run: go get -v -t -d ./...
    - run: go test -v ./...
    - run: go run tools/wstest.go `find examples -name '*.feature'`
    - run: go build -tags=gofuzz ./fuzz

jobs:
  buildGo1.13:
    docker:
      - image: circleci/golang:1.13
      - image: circleci/postgres:9.6-alpine
        environment:
          POSTGRES_USER: ws_user
          POSTGRES_DB: ws_test
          POSTGRES_PASSWORD: ""

    working_directory: /go/src/github.com/homelight/worksheets
    <<: *run_steps

  buildGo1.14:
    docker:
      - image: circleci/golang:1.14
      - image: circleci/postgres:9.6-alpine
        environment:
          POSTGRES_USER: ws_user
          POSTGRES_DB: ws_test
          POSTGRES_PASSWORD: ""

    working_directory: /go/src/github.com/homelight/worksheets
    <<: *run_steps

  buildGo1.15:
    docker:
      - image: circleci/golang:1.15
      - image: circleci/postgres:9.6-alpine
        environment:
          POSTGRES_USER: ws_user
          POSTGRES_DB: ws_test
          POSTGRES_PASSWORD: ""

    working_directory: /go/src/github.com/homelight/worksheets
    <<: *run_steps

  buildGo1.16:
    docker:
      - image: circleci/golang:1.16
      - image: circleci/postgres:9.6-alpine
        environment:
          POSTGRES_USER: ws_user
          POSTGRES_DB: ws_test
          POSTGRES_PASSWORD: ""

    working_directory: /go/src/github.com/homelight/worksheets
    <<: *run_steps

workflows:
  version: 2
  build_on_git_push:
    jobs:
      - buildGo1.13
  build_nightly:
    jobs:
      - buildGo1.13
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
